.popup__close-button {
    background-image: url(".././../../images/close-icon.svg");
    background-color: rgba(0, 0, 0, 0);
    width: 32px;
    height: 32px;
    border: none;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
    background-size: contain;
    transition: opacity 0.1s linear;
}

@media screen and (max-width: 580px) {
    .popup__close-button {
        top: -36px;
        right: 0px;
        width: 20px;
        height: 20px;
    }
}

.popup__close-button:hover {
    opacity: 0.6;
}